<div class="wrapper">

  <h2>Вас вітає додаток про фільми</h2><br>
  <mat-tab-group>
    <mat-tab label="Інформація про портал">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias commodi consequuntur et illo inventore laborum libero magnam neque non, soluta velit, voluptates! Corporis, nisi.</mat-tab>
    <mat-tab label="Додаткова інформація">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate doloremque eius error illo optio quidem quis reiciendis ut, voluptatibus! A alias, architecto asperiores delectus dolore dolorem ea eum eveniet ipsum iste iure, maxime minima numquam quaerat repellat sapiente voluptates?</mat-tab>
  </mat-tab-group>

</div>


