<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ filmItem.name }}</mat-card-title>
    <mat-card-subtitle>{{ filmItem.year }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{filmItem.imgUrl}}" alt="{{filmItem.name}}">
  <mat-card-content>
    <p>
    {{filmItem.description.substring(0,100)}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addFavoriteFilm()" color="{{ btnColor }}" mat-button>{{filmItem.isFavorite ? 'Видалити з вибраного' : 'Додати у вибране'}}</button>
  </mat-card-actions>
</mat-card>


