.card {
  max-width: 350px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-card-subtitle {
  text-align: left;
}
/*.mat-grid-list {*/
/*margin: 30px;*/
/*}*/
.mat-grid-tile {
  margin-top: 30px;
  padding: 30px;
}
/*.mat-card {*/
  /*margin-bottom: 60px;*/
/*}*/
img {
  height: 500px;
  object-fit: cover;
}

