.example-spacer {
  flex: 1 1 auto;
}
.container {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
mat-form-field {
  margin-left: 5px;
  margin-right: 50px;
}
mat-grid-list {
  display: none;
}
mat-grid-list, .results {
  &.show {
    display: flex;
  }
}
.no-match {
  display: flex;
  justify-content: center;
}
.search-text {
  color: gray;
  font-weight: normal;
}
// ngx-spinner {
  .black-overlay {
    position: fixed;
  }
  //display: flex;
  //align-items: center;
  //justify-content: center;
// }
.results {
  display: none;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  .cart-item {
    // width: 483px;
    display: flex;
    flex: 0 0 45%;
    height: 400px;
    flex-flow: row nowrap;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    &:nth-child(n+3) {
      margin-top: 30px;
    }
    app-film-item {
      display: flex;
      //flex: 0 0 45%;
      flex-flow: row nowrap;
    }
  }
}
.wrapper {
  position: relative;
  display: none;
  justify-content: center;
  .load-more {
    margin-top: 20px;
  }
  &.show {
    display: flex;
  }
}

