<div class="container">
  <mat-card class="menu-card">
    <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>
        <span>В вибране добавлено: {{ counter }} елементів</span>
        <span class="example-spacer"></span>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="searchText" placeholder="find film" value="">
        </mat-form-field>
        <div>
          <mat-form-field>
            <mat-select placeholder="Sorting" (selectionChange)="sorting($event.value)">
              <mat-option *ngFor="let sort of sortData" [value]="sort.value">
                {{sort.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>
  <div class="no-match" *ngIf="(films | search : searchText).length === 0">
    <h1>No match found</h1>
  </div>
  <mat-grid-list cols="6" rowHeight="800px">
    <mat-grid-tile *ngFor="let film of films | search : searchText | slice:0:more" colspan="2">
      <app-film-item [filmItem]='film' (add)="addToFavorite($event)"></app-film-item>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="wrapper">
    <button class="load-more" mat-flat-button (click)="more = more + 3" [disabled]="films.length - more === 0">
      Завантажити ще {{ films.length - more }} фільмів</button>
  </div>
</div>
