.example-spacer {
  flex: 1 1 auto;
}
.container {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
mat-form-field {
  margin-right: 50px;
}
.no-match {
  display: flex;
  justify-content: center;
}
