<div class="container">
  <mat-card class="menu-card">
    <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>
        <span>В вибране добавлено: {{ counter }} елементів</span>
        <span class="example-spacer"></span>
        <div>
          <mat-form-field>
            <mat-select placeholder="Sorting" (selectionChange)="sorting($event.value)">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>

  <mat-grid-list cols="6" rowHeight="800px">
    <mat-grid-tile *ngFor="let film of films" colspan="2">
      <app-film-item [filmItem]='film' (add)="addToFavorite($event)"></app-film-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
